<?xml version="1.0" encoding="UTF-8"?>
<app>
    <dependencies>
        <name path="/var/somethinf">vis-core.phar</name>
        <name path="/var/somethinf">vis-mvc.phar</name>
    </dependencies>
    
    <routing>
        
        <route>
            <class>app.Controllers.Home</class>
            <urls>
                <urlPattern>/</urlPattern>
            </urls>
        </route>
        
        <route>
            <class>App.Modules.{module}.Controllers.{controller}</class>
            <urls>
                <urlPattern>/{module}/{controller}.html</urlPattern>
            </urls>
        </route>

        <!--
        <route>
            <class>app.Home</class>
            <urls>
                <urlPattern>/{controller}/product-{product_id}/{id}.html</urlPattern>
                <urlPattern>/{controller}/product-{product_id}.html</urlPattern>
            </urls>
        </route>
        !-->
    </routing>
    
    <exceptionHandlers>
        <handler>
            <exception>*</exception>
            <class>Core.Web.Http.ExceptionService</class>
        </handler>
    </exceptionHandlers>
    
    <services>
        <service name="a">
            <class>app.A</class>
        </service>
        <service name="b">
            <class>app.B</class>
            <constructorArg type="ref">a</constructorArg>
            <constructorArg>user</constructorArg>
            <constructorArg>pass</constructorArg>
        </service>
        <service name="c">
            <class>app.C</class>
            <constructorArg type="ref">b</constructorArg>
            <constructorArg type="property">db3.host</constructorArg>
        </service>
    </services>
    
    <settings>
        <section name="db2">
            <property name="host" value="127.0.0.1" />
            <property name="user" value="need to override" />
            <property name="pass" value="need to override" />
        </section>
        
        <section name="db3">
            <property name="host" value="localhost" />
            <property name="user" value="need to override" />
            <property name="pass" value="need to override" />
        </section>
    </settings> 

    <viewEngines>
        <engine default="true">
            <class>Core.Mvc.NativeViewEngine</class>
            <locationFormat>~/App/Modules/{module}/Views/{controller}/{action}.php</locationFormat>
            <locationFormat>~/Views/{controller}/{action}.php</locationFormat>
        </engine>
        <engine default="true">
            <class>Core.Mvc.NativeViewEngine</class>
            <locationFormat>~/App/Modules/{module}/Views/{controller}/{action}.php</locationFormat>
            <locationFormat>~/Views/{controller}/{action}.php</locationFormat>
        </engine>
    </viewEngines>
</app>